$yelfont: #F9F3A0;

.berkas {

    margin-bottom: 5vh;

    h1 {
        position: relative;
        z-index: 3;
        line-height: 2;
        color: $yelfont;
        text-align: center;
    }

    .top-daf {
        margin-top: 24vw;
    }

    .bot-daf {
        margin-bottom: 25px;
    }

    .btn-container {
        text-align: center;
        margin-bottom: 75px;
    }
}

.daftar {
    h2 {
        font-weight: normal;
    }

    .formContainer {
        padding: 0 5%;
        position: relative;

        .batas-login {
            width: 100%;
        }

        @media (min-width:769px) {
            .batas-login {
                display: none;
            }
        }
    }
}

@media (max-width: 769px) {
    .daftar {
      .footerContainer {
        position: relative;
      }
    }
  }