$yelfont: #F9F3A0;

.Content {
    width: 80%;
    margin: 20px auto;
}

.carousel-container {
    margin: auto;
    text-align: center;
    margin-bottom: 9vh;

    .details-btn {
        margin-top: 20px;
    }
}

