$yelfont: #F9F3A0;
$primary: #FDAF33;

.Content {
    width: 80%;
    margin: 50px auto;
}

.carousel-container {
    margin: auto;
    text-align: center;
    margin-bottom: 9vh;

    .details-btn {
        margin-top: 20px;
    }

    h2 {
        font-weight: 400;
        color: $yelfont;
        margin-bottom: 50px;
        font-size: 2.25vw;
    }
}

.carContainer {
    padding: 0 5%;
}

.margincuy {
    margin: 33% 0 0;
    width: 100%;
    padding: 0;
    position: relative;

    hr {
        position: relative;
        height: 4px;
        width: 70%;
        margin: 0 auto;
    }

    .home-landing-content {
        text-align: center;
        width: 40%;
        margin: 0 auto;

        h2,
        p {
            text-align: center;
            padding: 20px 20px 0;
        }

        h2 {
            font-weight: 600;
            font-size: 2.5rem;
        }

        p {
            font-size: 1.25rem;
        }
    }

    .cloud-container {
        position: relative;
        width: 100%;
        left: 0;
        display: flex;
        margin-top: -15vw;

        .cloud-left {
            position: relative;
        }

        .cloud-right {
            position: relative;
            margin-left: auto;
        }

        img {
            transform: translateY(4px);
        }
    }
}

.container-kematian {

    .border-luar-item {
        border-top: solid 4px black;
        border-bottom: solid 4px black;
    }

    .border-dalem-item {
        border: solid 6px black;
    }

    .border-luar-kuning {
        border: solid 12px $primary;
    }

    .border-dalem-kuning {
        border: solid 10px $yelfont;
    }

    .contentnyacok {
        min-height: 100vh;

        .judul-container {
            position: absolute;
            z-index: 6;
            margin-top: 5%;
            border-top: solid 5px $primary;
            border-bottom: solid 5px $primary;
            width: 100%;
            left: 0;
            background-color: #62070a;

            h2 {
                margin: 4px 0;
                border-top: solid 3px $primary;
                border-bottom: solid 3px $primary;
                padding: 20px;
                font-weight: 400;
            }
        }

        .content-container {
            margin-top: 16vw;
            margin-bottom: 3vw;

            .kandidat-profile {
                background-size: 100% 100%;
                background-repeat: no-repeat;

                img {
                    text-align: left;
                    position: relative;
                    width: 60%;
                    padding: 20% 10% 40%;
                    margin: 0 auto;
                }
            }
        }
    }
}

.background-image {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 5% 0;
    width: 60%;

    .top-lembaga {
        padding: 30% 15%;

        h3 {
            font-weight: 400;
            font-size: 2.25vw;
        }

        ol {
            padding-left: 20px;
            li {
                margin: 10% 0;
            }
        }
    }
}

.left-top-five {
    position: relative;

    .background-image {
        position: relative;
        margin-left: auto;
        margin-right: 5%;
    }
}

.right-top-five {
    position: relative;

    .background-image {
        position: relative;
        margin-left: 5%;
    }
}

.tutorial-content {
    align-items: center;
    justify-content: center;

    .column {
        padding: 2% 5%;

        p {
            margin: 0 auto;
            width: 60%;
            margin-bottom: 20%;
            font-size: 1.25rem;
            @media (min-width: 1537px) {
                font-size: 1.75rem;
            }
        }

        .details-btn {
            text-align: center;
        }

        .background-tutorial {
            padding: 5%;
            background-repeat: no-repeat;
            background-size: 100% 100%;

        }

        iframe {
            width: 100%;
            height: 27vw;
            padding: 7.5% 5%;
        }
    }
}

.faq-content {
    padding: 1% 5%;

    p {
        font-size: 1.25rem;
        @media (min-width: 1537px) {
            font-size: 1.75rem;
        }
    }

}

.home-bottom {
    .cloud-container {
        position: relative;
        width: 100%;
        left: 0;
        display: flex;
        margin-bottom: -30vh;

        .cloud-left {
            position: relative;
        }

        .cloud-right {
            position: relative;
            margin-left: auto;
        }
    }

    .ads {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1000px;
        margin: 20px auto;
        height: 50px;
        text-align: center;
        background-color: #C4C4C4;
        font-size: 1.5rem;
        padding: 40px;
    }

    .external {
        padding: 5% 17.5%;

        .medpar {
            text-align: right;

            .container {
                justify-content: flex-end;

                .extern-item {
                    margin-left: 10px;
                    margin-right: 0;
                }
            }
        }

        .container {
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: flex-start;
        }

        .extern-item {
            width: 100px;
            height: 100px;
            background-color: #C4C4C4;
            margin: 15px 10px 0 0;
        }
    }

}
