$yelfont: #F9F3A0;

.Content {
    width: 80%;
    margin: 50px auto;
}

.carousel-container {
    margin: auto;
    text-align: center;
    margin-bottom: 9vh;

    .details-btn {
        margin-top: 20px;
    }
}

.carContainer {
    padding: 0 5% 5%;
}

@media (max-width: 769px) {
    .home.myContent {
        .carousel {
            display: flex;
        }

        .carousel-container {
            height: 60vw;
            padding: 0 5%;
        }

        .dark-blue {
            min-height: 195vh!important;
        }
    }
}
