$dark-blue: #02141D;
$primary: #FDAF33;

.quest {
    .left-quest, .right-quest {
        text-align: center;
        position: relative;
    }

    .cloud-left, .cloud-right {
        visibility: hidden;
    }

    .details-btn {
        width: 45%;
        display: inline-block;
        margin-right: 20px;
    }

    .btn-container {
        position: relative;
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }

    .btn-quest {
        position: relative;
        padding: 0 50px;
    }

    .hourglass, .lonceng {
        display: inline-block;
        width: 15%;
    }

    .right-quest {
        padding-right: 5vw;
    }
}

.quest-box {
    font-family: 'Inknut Antiqua', serif;
    background-repeat: no-repeat;
    // background-position: center;
    background-size: 100% 100%;
    position: relative;
    margin-right: 4vw;
    min-height: 80vh;
    
    div {
        position: relative;
    }

    .quest-nav {
        position: absolute;
        align-items: center;
        background-color: #03354C;
        width: 76vw;
        right: -15.8%;
        overflow: hidden;
        padding: 2px;


        ul {
            text-align: center;
            margin: 0 auto;
            border-top: 3px solid $primary;
            border-bottom: 3px solid $primary;
            padding: 2px;

            li {
                display: inline-block;
                padding: 0 2.75vw;
                margin: 10px 0;
                // width: 190px;
                color: $primary;
                border-right: 3px solid $primary ;
               
                div {
                    padding: 10px;
                    border: 2px  solid transparent;
                    font-size: 1vw;
                }

                div:hover {
                    border: 2px solid $primary;
                    cursor: pointer;
                }

                div.active {
                    border: 2px solid $primary;
                }
            }

            li:last-child {
                border: none;
            }
        }

        hr {
            width: 100%;
        }
    }

    .quest-container {
        position: relative;
        height: 10vw ;
        top: -5vh;
        padding: 2% 5% 0;
        margin: 2vw!important;
        border-radius: 4vw 4vw 0 0;
        color: $primary;
        font-size: 1.1vw;
        align-items: flex-start;

        .quest-btn {
            display: flex;
            // margin-left: auto    ;

            .details-btn {
                position: relative;
                text-align: center;
                margin-right: 15px ;
                width: 8vw;
                margin-left: auto;
            }
        }
    }

    .mt-10 {
        margin-top: 175px!important;
    }
    
    .blue {
        background-color: #03354C;
    }

    .red {
        background-color: #670C0D;
    }

    .go-top {
        margin-top: -7vw!important;
    }

    .bor-btm {
        border-radius: 4vw 4vw 3.5vw 3.5vw!important;
    }
}

.my-pagination {
    width: 60%;
    margin: 0 auto;
    margin-top: -8vw;
    align-items: center;
    color: $primary;

    @media (max-width: 1024px) {
        margin-top: -10vw;
    }

    span {
        transition: all 0.4s;
        font-size: 1.25vw;
        cursor: pointer;
        margin: 0 10px;
    }

    span:hover {
        transform: scale(1.1);
    }
}

.btm-container {
    padding: 3vw;

    .details-btn {
        width: 50%;
    }
}