$dark-blue: #02141D;
$primary: #FDAF33;

.quest {
    .left-quest,
    .right-quest {
        text-align: center;
        position: relative;
    }

    div.active {
        border: 2px solid $primary;
    }

    .cloud-left,
    .cloud-right {
        visibility: hidden;
    }

    .details-btn {
        width: 45%;
        display: inline-block;
        margin-right: 20px;
    }

    .btn-container {
        position: relative;
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }

    .btn-quest {
        position: relative;
        padding: 0 50px;
    }

    .hourglass,
    .lonceng {
        display: inline-block;
        width: 15%;
    }

    .right-quest {
        padding-right: 5vw;
    }

    .quest-content {
        min-height: 470px;
        position: relative;
        @media (min-width: 1537px) and (max-width: 1920px) {
            min-height: 550px;
        }
        @media (max-width: 1200px) {
            min-height: 500px;
        }
        @media (max-width: 1024px) {
            min-height: 340px;
        }

        .btm-container {
            width: 100%;
            position: absolute;
            bottom: 0;

        }

        .not-candidate {
            .details-btn {
                width: 100%;
            }
        }
    }
}

.quest-box {
    font-family: 'Inknut Antiqua', serif;
    background-repeat: no-repeat;
    // background-position: center;
    background-size: 100% 100%;
    position: relative;
    margin-right: 4vw;
    min-height: 85vh;
    @media (min-width:1537px) and (max-width:1920px) {
        min-height: 65vh;
    }

    .quest-nav {
        position: absolute;
        align-items: center;
        background-color: #03354C;
        width: 77vw;
        right: -15.8%;
        overflow: hidden;
        z-index: 4;
        padding: 2px;
        @media (min-width: 1537px) {
            width: 80vw;
        }
        @media (max-width: 1024px) {
            width: 75vw;
            right: -18.2%;
        }

        ul {
            text-align: center;
            margin: 0 auto;
            border-top: 2px solid $primary;
            border-bottom: 2px solid $primary;
            padding: 2px;

            li {
                display: inline-block;
                padding: 0 2.75vw;
                margin: 10px 0;
                // width: 190px;
                color: $primary;
                border-right: 2px solid $primary;

                div {
                    padding: 10px;
                    border: 2px solid transparent;
                    font-size: 1vw;
                }
                div:hover {
                    border: 2px solid $primary;
                    cursor: pointer;
                }

                div.active {
                    border: 2px solid $primary;
                }
            }
            li:last-child {
                border: none;
            }
        }

        hr {
            width: 100%;
        }
    }

    .quest-container {
        position: relative;
        height: 10vw;
        top: -5vh;
        padding: 2% 5% 0;
        margin: 2vw !important;
        border-radius: clamp(30px, 3vw, 70px) clamp(30px, 3vw, 70px) 0 0;
        color: $primary;
        font-size: 1.1vw;
        align-items: flex-start;

        .quest-btn {
            display: flex;
            align-items: center;
            // margin-left: auto    ;

            .details-btn {
                position: relative;
                text-align: center;
                margin-right: 15px;
                width: 8vw;
                margin-left: auto;
            }
        }
    }

    .mt-10 {
        margin-top: 175px !important;
        @media (min-width: 1537px) {
            margin-top: 210px !important;
        }
    }

    .blue {
        background-color: #03354C;
    }

    .red {
        background-color: #670C0D;
    }

    .go-top {
        margin-top: -7vw !important;
    }

    .bor-btm {
        border-radius: clamp(30px, 3vw, 70px);
    }
}
.quest-container.blue:hover {
    background-color: #002a3d!important;
    cursor: pointer;
}
.quest-container.red:hover {
    background-color: #540304!important;
    cursor: pointer;
}

.my-pagination {
    width: 60%;
    margin: -7.75vw auto 0;
    padding-bottom: 60px;
    align-items: center;
    color: $primary;
    position: relative;
    z-index: 6;
    @media (max-width: 1024px) {
        margin-top: -10vw;
    }

    span {
        transition: all 0.4s;
        font-size: 1.25vw;
        cursor: pointer;
        margin: 0 10px;
        color: white!important;
    }
    span:hover {
        transform: scale(1.1);
    }

    .current-page {
        color: $primary!important;
    }
}

.btm-container {
    padding: 0 3vw 3vw;

    .details-btn {
        width: 50%;
    }
}

.modal {
    text-align: left;
    display: none;
    position: fixed;
    z-index: 20;
    padding: 125px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background-color: rgba(0,0,0,.6);

    .details-btn {
        margin: 20px 0 40px;
        text-align: left;
        bottom: 0;
        position: absolute;
    }
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px 50px;
    border: 1px solid #888;
    width: 80%;
    height: 500px;
    border: none;
    border-radius: 50px;
}

.close {
    color: $primary;
    float: right;
    font-size: 28px;
    font-weight: bold;
    z-index: 2000;
    color: white;
}
.close:focus,
.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.add-quest {
    padding: 0 10% !important;

    .add-quest-content {
        width: 100%;
        height: auto;
        margin: 20px auto;
        border-radius: 20px;

        div {
            position: relative;
        }

        hr {
            margin: 10px 0;
        }

        input {
            width: 100%;
            background-color: #FCE0C4;
        }

        textarea {
            width: 100%;
            height: 200px;
            background-color: #FCE0C4;
            border-radius: 20px;
        }

        .column {

            input,
            select {
                width: 60%;
                background-color: #FCE0C4;
            }
        }

        input[type="checkbox"] {
            width: initial;
            margin-right: 20px;
        }

        .btn-container {
            text-align: center;

            .details-btn {
                text-align: center;
                width: 16%;
                margin-bottom: 0;
                margin-right: 30px;
            }
        }
    }
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
span[class^='close']:hover {
    animation-name: rotate;
    animation-duration: 0.5s;
    animation-iteration-count: 0.5;
    animation-timing-function: linear;
}

.modal-btm {
    position: relative;
    width: 100%;
    display: block;
    text-align: center;

    .btn-container {
        position: relative;
        display: block;
        text-align: center;

        .details-btn {
            position: relative;
            width: 15%;
            margin-left: 10px;
            margin-right: 10px;

            img {
                margin: 0 auto;
                width: 100%;
            }
        }
    }
}

.duel-box {
    min-height: 50vh!important;
}

.duel-content {
    min-height: 320px;
    position: relative;
    @media (min-width: 1537px) and (max-width: 1920px) {
        min-height: 380px;
    }
    @media (max-width: 1200px) {
        min-height: 230px;
    }
    @media (max-width: 1024px) {
        min-height: 200px;
    }

}

.unggah-bukti {
    z-index: 2000;
    color: #FCE0C4!important;

    .status {
        text-transform: capitalize;
    }

    .inputfile {
        width: 0.1px!important;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute; 
        z-index: -1;
    }

    .inputfile + label {
        font-size: 2rem;
        padding: 2%;
        width: 100%;
        border-radius: 20px;
        color: black;
        background-color: #FCE0C4;
        display: inline-block;
        text-align: center;

        img {
            width: 10%;
            text-align: center;
        }
    }
    
    .inputfile:focus + label,
    .inputfile + label:hover {
        background-color: #d1b9a1;
        cursor: pointer;
    }
}

.ads-profile {
    background-color: #C4C4C4;
    padding: 40px 0;
    width: 50%;
    margin: 0 auto 20px;
}