$yelfont: #F9F3A0;

.carousel {
    position: relative;
    align-items: center;
    padding: 8% 8% 0;
    display: flex;

    .arrow-container {
        position: relative;
        z-index: 5;
        cursor: pointer;
    }

    .arrow-container:hover {
        transform: scale(1.2);
    }
    
    .left {
        left: 10%;
    }

    .right {
        right: 10%;
    }

    .slide {
        opacity: 0;
        transition: all 0.5s ;
        width: 90%;
        text-align: center;
        margin: 25px auto;

    }

    .slide.active {
        opacity: 1;
        transition: all 0.5s ;
        transform: scale(1.2);
    }
}

.carousel-v2 {
    margin: 0 auto 7%!important;
    .slide {
        position: relative;
        display: none;
        margin-top: 0;
        
        h3 {
            margin-bottom: 10px;
            font-weight: normal;
        }

        img {
            width: 65%;
        }

        button {
            display: block;
            text-align: center;
            margin: 10px auto;
            color: $yelfont;
            background-color: transparent;
            border: none;
            font-family: 'Inknut Antiqua', serif;
            font-size: 1rem;
            cursor: pointer;
        }
    }

    .slide.active {
        opacity: 1;
        transition: all 0.5s ;
        transform: scale(1.2);
        display: block;
    }

    .left {
        left: 6%;
        margin-bottom: 5%;
    }

    .right {
        right: 6%;
        margin-bottom: 5%;
    }
}
