$yelfont: #F9F3A0;

.carousel {
    position: relative;
    align-items: center;
    padding: 8% 8% 0;
    display: flex;

    .arrow-container {
        position: relative;
        z-index: 5;
        cursor: pointer;
    }
    .arrow-container:hover {
        transform: scale(1.2);
    }

    .left {
        left: 10%;
    }

    .right {
        right: 10%;
    }

    .slide {
        opacity: 0;
        transition: all 0.5s;
        width: 90%;
        text-align: center;
        margin: 25px auto;

    }

    .slide.active {
        opacity: 1;
        transition: all 0.5s;
        transform: scale(1.2);
    }
}

.organogram {
    display: flex;
    padding: 3%;
    justify-content: center;
    align-items: flex-start;

    .organogram-content {
        width: 50%;
        
        .slide {
            opacity: 0;
            transition: 0.4s;
        }

        .slide.active {
            opacity: 1;
        }
    }

    .arrow-container {
        position: relative;
        z-index: 20;
        top: 2.25vw;
        width: 2%;

        img {
            width: 100%;
        }
    }

    .arrow-container:hover {
        transform: scale(1.2);
        cursor: pointer;
    }

    .left {
        left: 12%;
    }

    .right {
        right: 12%;
    }
}

.carousel-v2 {
    display: flex;
    align-items: center;
}

.carouselv3-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;

    .carousel-content {
        width: 25%;
        margin: 2%;
        text-align: center;

        .kandidat-profile {
            background-repeat: no-repeat;
            background-size: 100% 100%;

            img {
                padding: 20% 25% 40%
            }
        }

        .btn-container {
            margin: 10px 0;

            .details-btn {
                margin: 5px;
            }
        }
    }
}