$yelfont: #F9F3A0;


.footerContainer {
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100%;
    
    
    .hashtag{
        position: relative;
        margin: 0 auto;
 
        text-align: center;

        .hashtag-item {
            text-align: center;
            padding: 0;
            font-size: 1rem;
            display: inline-block;
            position: relative;
            margin: 0 15px;
        } 
    }

    hr {
        position: relative;
        margin: 3px;
        width: 80%;
        margin: 2px auto;
    }

    .footer {
        background-color: transparent;
        text-align: center;
        padding: 0;
        margin: 10px auto;

        h2 {
            color: $yelfont;
        }

        p {
            color: white!important;
        }
    }
}

.hashtag-item:hover {
    transform: scale(1.1);
}

.cloud-left {
    position: fixed;
    bottom: -5px;
    z-index: 5;
}

.cloud-right {
    position: fixed;
    bottom: -5px;
    right: 0;
    z-index: 5;
}