.navMainContainer {
    
    .navMain {
        margin: auto 0;
        display: flex;
        height: 80px;
        align-items: center;
    
        .navbar-brand {
            
            display: inline-block;
            position: absolute;
            margin: 10px 30vw;
            width: 40vw;
            text-align: center;
    
            .navbar-item {
                text-align: center;
                margin: 0 auto;
                display: inline-block;
                padding: 0;
                transform:  translateY(5px);
            }
            
            img {
                position: relative;
                width: 45%;
                transform: translateY(35%);
                z-index: 4;
            }
        }

        .navbar-start {
            padding-left: 20px;
        }
        
        .navbar-end {
            padding-right: 20px;
        }

        .navbar-menu {
    
            .navbar-item {
                margin: 0 10px;
                font-weight: bold;
            }
        }
    }

    hr {
        width: 90%!important;
        margin: 0 auto!important;
        position: relative;
        z-index: 3;
    }
}

.navbar-item:hover {
    transform: scale(1.1);
    background: transparent!important;
}