$primary: #FDAF33;
$fontCol: #02141D;
$baseCol: #FCE0C4;

.persyaratan {
    position: relative;

    
    .syarat-title {
        margin: 40px auto ;
        text-align: left;
    }

    .list-syarat {

        list-style-type: upper-greek;
        list-style-position: inside;
        text-align: left;
        min-height: 600px;

        .item-syarat {
            font-size: 1rem;
            color: $primary;
            margin-bottom: 4px;
        }
    }

    .item-syarat {
        padding-right: 30px;
    }

    input {
        display: block;
        width: 96%;
        height: 40px;
        border-radius: 10px;
        background-color: $baseCol;
        font-family: 'Nunito', sans-serif;
        border: none;
        font-size: 1rem;
        text-align: left;
        padding-left: 5%;
    }

    ::placeholder {
        color: $fontCol;
    }

    .btn-container {
        margin: 2vw auto 5vw;
        width: 80%;
    }
}

.persyaratan.K3M::after {
    content: "";
    background-color: $primary;
    position: absolute;
    top: 5%;
    right: 0;
    height: 70%;
    width: 2px;
}

@media (max-width: 769px) {
    .persyaratan.K3M::after {
        content: "";
        height: 0;
    }
    
}

.syarat-container:first-child {
    @media (min-width: 769px) {
        padding-right: 30px ;
    }
}