$dark-blue: #02141D;

.dark-blue {
    position: absolute;
    display: flex;
    background-color: $dark-blue;
    width: 100%;
    z-index: -2;
    min-height: 100vh;

    .star-left {
        position: absolute;
        width: 20vw;
        left: 3vw;
        top: 100px;
        z-index: -1;
    }

    .star-right {
        position: absolute;
        margin-left: auto;
        right: 3vw;
        top: 100px;
        z-index: -1;
    }

    .cloud-left {
        position: absolute;
        bottom: -5px;
    }

    .cloud-right {
        position: absolute;
        bottom: -5px;
        right: 0;
    }
}